footer {
    background-color: #343434;
    color: #E1DDD8;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-family: 'Arboria-Medium', sans-serif;
    margin: 0;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    min-height: 60px;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

footer .row > div {
    flex: 1;
    padding: 10px;
    min-width: 250px; 
    box-sizing: border-box;
}

footer a {
    margin: 0 5px;
    color: #E1DDD8;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

.logo img {
    max-width: 200px;
    height: auto;
}

footer h2, footer h3 {
    margin:10px 0;
}

footer p {
    margin:5px 0;
}
