html, body{
    /* background-color: #E1DDD8; */
    background-color: #ffffff;
    font-family: 'Arboria-Medium', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-bottom: 0;
}

.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }
  .three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 55px;
    background-color: transparent;
  }
  .three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }

  .three h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }
  .three h3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: transparent;
  }
  .three h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }

  .three h6 {
    font-size: 23px;
    font-weight: 505;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }
  .three h6:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: transparent;
  }
  .three h6:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }

.f-social{
  margin-top: 70px;
}

.f-pinterest{
  background-color: #343434;
  color: #E1DDD8;
}

/* .f-pinterest:hover{ */
  /* background-color: #cb2027; */
  /* color: white; */
/* } */

.f-pinterest:hover{
  background-color: #808181;
  color: #ffffff;
}

.f-whatsapp{
  background-color: #343434;
  color: #E1DDD8;
}

.f-whatsapp:hover{
  background-color: #808181;
  color: #ffffff;
}

/* .f-whatsapp{ */
  /* background-color: #5e5d5d; */
  /* color: white; */
/* } */

/* .f-whatsapp:hover{ */
  /* background-color: #128c7e; */
  /* color: #25d366; */
/* } */

/* .f-whatsapp:hover{ */
  /* background-color: #808181; */
  /* color: #343434; */
/* } */



.f-instagram{
  background-color: #343434;
  color: #E1DDD8;
}

.f-instagram:hover{
  background-color: #808181;
  color: #ffffff;
}

/* .f-instagram{ */
  /* background-color: #5e5d5d; */
  /* color: white; */
/* } */

.f-instagram p{
  text-align: center;
  margin-top: 15px;
}

/* .f-instagram:hover{ */
  /* background-color: #6693C1; */
  /* color: white; */
/* } */

/* .f-instagram:hover{ */
  /* background-color: #808181; */
  /* color: #343434; */
/* } */

/* .f-social:hover{
  color: aliceblue;
} */

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}